@media (min-width: 320px) {
    
  .copyright {
    padding: 20px 0;
    font-size: 12px;  
  }
  
}

@media (min-width: 1024px) {
    
  .copyright {
    padding: 30px 0;
    font-size: 16px;  
  }
  
}

.footer {
  width: 100%;
  color: #fff;
  background-color: #31293c;
}

.copyright {
  text-align: center;
}