@media (min-width: 320px) {
    
  .footer {
    padding: 20px 0;  
  }
  
}

@media (min-width: 1024px) {
    
  .footer {
    padding: 30px 0; 
  }
  
}

.footer {
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #229a44;
}
