@media (min-width: 320px) {
    
  .top-contacts__btn-call,
  .top-menu {
    display: none;  
  }
  
  .top-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%; 
    z-index: 10;
    background: rgba(255,255,255,.9);
  }
  
  .top-menu__link {
    display: block;
    margin: 30px 0;
    padding: 10px;
  }
  
  .top-menu__link_active a {
    color: var(--dark-green-color);
    border-bottom: none;
  }
  
  .top-menu-mobile,
  .top-menu-mobile:hover, 
  .top-menu-mobile:active,
  .top-menu-mobile:focus {
    margin-left: 20px;
    border-bottom: none;
  }
  
  .top-menu-mobile__item {
    display: block;
    width: 25px;
    margin: 5px 0;
    height: 3px;
    background: -o-linear-gradient(left, var(--dark-red-color), var(--dark-green-color));
    background: -webkit-gradient(linear, left top, right top, from(var(--dark-red-color)), to(var(--dark-green-color)));
    background: linear-gradient(to right, var(--dark-red-color), var(--dark-green-color));
  }
  .top-menu-mobile__item_hide {
    display: none;  
  }

  .menu-icon-close:before {
    content: "×";
    font-size: 40px;
  }
  
  .top-contacts__phone {
    font-size: 18px;
    font-weight: bold;  
  }
  
  .btn-call-mobile {
    margin-right: 20px;
    padding: 6px;
    font-size: 12px;
    color: var(--dark-green-color);
    background-color: #fff;
    border: solid 1px var(--dark-green-color);
    border-radius: 50%;
  }
   
}

@media (min-width: 1024px) {
    
  .top-contacts__btn-call,
  .top-menu-mobile {
    display: inline-block;  
  }
  
  .top-contacts__phone {
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;  
  }
  
  .top-menu {
    display: none;  
  }
   
  .top-menu-mobile__item {
    display: block;
    width: 45px;
    margin: 7px 0;
    height: 5px;
    background: -o-linear-gradient(left, var(--dark-red-color), var(--dark-green-color));
    background: -webkit-gradient(linear, left top, right top, from(var(--dark-red-color)), to(var(--dark-green-color)));
    background: linear-gradient(to right, var(--dark-red-color), var(--dark-green-color));
  }
 
  .btn-call-mobile {
    display: none;  
  }
  
}

@media (min-width: 1200px) {
    
  .top-contacts__btn-call,
  .top-menu {
    display: inline-block;  
  }
  
  .top-menu {
    position: relative;
    width: auto;  
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0);
  }
  
  .top-menu-mobile,
  .btn-call-mobile {
    display: none;  
  }
  
  .top-menu__link {
    margin: 0 30px 0 0;
    display: inline-block;
  }

  .top-menu__link_active a {
    color: var(--dark-green-color);
    border-bottom: 1px solid var(--dark-green-color);
  }
  
  .top-contacts__phone {
    font-size: 25px;
    font-weight: bold;
  }
  
}

.top-nav {
  padding: 30px 0;
  background-color: var(--bg-color-light-section);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-menu {
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
