@media (min-width: 320px) {
    
  section {
    padding: 50px 20px;  
  }
    
  .bg-circle {
    display: none;
  }
  
  .bg-circle-mob {
    display: block;
    position: absolute;
    bottom: 0;
    right: -250px; 
    height: 80%;
  }
  
  .section-light {
    padding: 0;
    background-color: #fbfbfb;
  }
  
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: reverse; 
    -ms-flex-direction: column-reverse; 
    flex-direction: column-reverse; 
  }
  
  .about-container__block-name {
    padding: 0 20px;  
    text-align: center;
    z-index: 1;
  }
  
  .about-container__photo {
    position: relative;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: auto;
  }
  
  .about-container__block-photo {
    position: relative;
    overflow: hidden;
    padding: 55px 0 0 70px; 
  }
  
  .section-gradient {
    padding: 50px 20px;  
  }
    
  .bottom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .bottom-contacts {
    width: 100%;
  }

  .bottom-container nav {
    margin: 0 0 45px 0;  
  }  
  
 .bottom-menu__link {
    margin: 0 0 20px 0;
    font-size: 15px;
  }
  
  .bottom-contacts-list__link {
    margin: 0 0 25px 0;
    font-size: 20px;
  }
  
  .service-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 45px 0;
  }
  
  .service-container div {
    -ms-flex-preferred-size: auto;
    flex-basis: 100%;
    padding: 20px;
  }
  
  .service-container__text {
    margin: 10px 0 45px 0;
    line-height: 1.5;
    text-align: center;
    color: #8993ad;  
  }
  
  .service-container__icon {
    display: block;
    height: 75px;
    width: auto;
    margin: 0 auto;
  }
  
}

@media (min-width: 1024px) {
    
  section {
    position: relative;
    padding: 75px 0;  
  }
      
  .bg-circle {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .bg-circle-mob {
    display: none;  
  }
  
  .section-light {
    background-color: #fbfbfb;
  }
    
  .section-gradient {
    padding: 85px 0;
  }
  
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: row; 
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .about-container__block-name {
    padding: 0;  
    text-align: left;
  }

  .about-container__block-photo {
    padding: 30px 0 0 0;
    overflow: visible;
    background-image: none;  
  }  
  
  .about-container__photo {
    position: relative;
    left: 0;
    width: 100%;
    height: auto; 
  }
  
  .bottom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: row; 
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .bottom-contacts {
    width: auto;
  }
  
  .bottom-container nav {
    margin: 0;  
  } 
  
 .bottom-menu__link {
    margin: 0 0 15px 0;
    font-size: 18px;
  }
  
  .bottom-contacts-list__link {
    margin: 0 0 30px 0;
    font-size: 25px;
  }
  
  .service-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 90px 0;
  }
  
  .service-container div {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 50px;
  }
  
  .service-container__text {
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
    color: #8993ad;  
  }
  
  .service-container__icon {
    display: block;
    height: 75px;
    width: auto;
    margin: 0 auto;
  }
  
}

@media (min-width: 1200px) {
    
  section {
    padding: 75px 0;  
  }
    
  .section-light {
    background-color: #fbfbfb;
  }
    
  .section-gradient {
    padding: 80px 0;
  }
  
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .about-container__block-name {
    padding: 0;  
    text-align: left;
  }

  .about-container__block-photo {
    padding: 30px 0 0 0;
    background-image: none;  
  }  
  
  .about-container__photo {
    position: relative;
    left: 0;
    width: 100%; 
    height: auto; 
  }
  
  .service-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: nowrap; 
    flex-wrap: nowrap;
    margin: 90px 0;
  }
  
  .service-container div {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 0;
  }
  
  .service-container__icon {
    display: block;
    height: 75px;
    width: auto;
    margin: 0 auto;
  }
  
}

@media (min-width: 1385px) {
    
  .about-container__photo {
    position: relative;
    left: 100px;
    width: 100%; 
    height: auto; 
  }
  
}

.about-container__block-photo {
  z-index: 1;
}

.section-light {
  background-color: #fbfbfb;
}

.section-gradient {
  color: #fff;
  background: -o-linear-gradient(bottom left, 
              #229a44, #229a44, #94070f, #94070f);
  background: -webkit-gradient(linear, 
              left bottom, right top, 
              from(#229a44), color-stop(#229a44), color-stop(#94070f), to(#94070f));
  background: linear-gradient(to top right, 
              #229a44, #229a44, #94070f, #94070f);
}

.bottom-menu {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

.bottom-menu__link a {
  color: #8993ad;
}

.bottom-menu__link a:hover,
.bottom-menu__link a:focus,
.bottom-menu__link a:active {
  color: #229a44;
  text-decoration: none;
}

.bottom-contacts-list {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

.fa.fa-phone,
.fa.fa-envelope {
  margin-right: 20px;
  color: #94070f;
} 

.bottom-contacts__social {
  display: block;
  margin-top: 30px;
}

.social__icon-vk {
  display: inline-block;
  height: 30px;
  width: 50px;
  background-image: url('../img/contacts/sprite.png');
  background-position: 0 30px;
}

.social__icon-fb {
  display: inline-block;
  height: 30px;
  width: 50px;
  background-image: url('../img/contacts/sprite.png');
  background-position: 150px;
}

.social__icon-twitter {
  display: inline-block;
  height: 30px;
  width: 50px;
  background-image: url('../img/contacts/sprite.png');
  background-position: 100px;
}

.social__icon-inst {
  display: inline-block;
  height: 30px;
  width: 50px;
  background-image: url('../img/contacts/sprite.png');
  background-position: 55px;
}

.bottom-contacts__social a:focus,
.bottom-contacts__social a:hover,
.bottom-contacts__social a:active {
  border-bottom: none;
  opacity: .6;
}

.service-container__btn-more,
.project-container__btn-more {
  margin: 25px auto;
}

